*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* background-color: blanchedalmond; */
    background-color: blanchedalmond;
    outline: none;
}
h1{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}
.container{
    background-color:blanchedalmond;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: grey;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 15px 15px 15px burlywood;
    display: grid;
    grid-template-columns: repeat(4,68px);
}

input{
    grid-column:span 4;
    height: 70px;
    width: 260px;
    background-color: white;
    box-shadow:black 2px 2px 5px, black -2px -2px 5px;
    border: none;
    margin: auto;
    border-radius: 30px;
    margin-bottom: 30px;
    /* margin-top: 20px; */
    font-size: 50px;
    text-align: end;
}
button{
    height: 50px;
    width: 50px;
    box-shadow:3px 3px 5px;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 2px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
}
.equal{
    width: 120px;
}